{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    ¿Olvidaste tu contraseña?
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-0">
            <h1>Resetear tu contraseña</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>¿Olvidaste tu contraseña? Ingresa tu correo electrónico, y te enviaremos un mensaje para que puedas cambiarlo.</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                 <button type="submit" class="btn btn-success">Resetear contraseña &raquo;</button>
                 <span class="">
                    <a class="btn btn-default pull-right" href="{% url 'account_login' %}">Volver a iniciar sesión &raquo;</a>
                </span>
            </form>
        </div>
    </div>
{% endblock %}