{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Cambiar tu contraseña
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-0">


            <h2>{% if token_fail %}Token inválido{% else %}Cambiar contraseña{% endif %}</h2>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>El enlace es inválido, esto puede ser porque ya ha sido usado. Por favor pide otra vez el <a href="{{ passwd_reset_url }}">reseteo de tu contraseña</a>.</p>
            {% else %}
                {% if form %}
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="action" value="{% trans "change password" %}"/>
                    </form>
                {% else %}
                    <p>Tu contraseña ha sido cambiada</p>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}