{% extends "starbase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    Enviado.
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-0">

            <h1>Cambio de contraseña</h1>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>

            <div class="alert alert-success">
              Hemos enviado un correo electrónico. Por favor contáctanos si no recibes el correo en los siguientes minutos.
            </div>
            </p>

        </div>
    </div>
{% endblock %}