¡Hola <b>{{ user.name }}</b>! ¡Bienvenido <i class="fa fa-globe"></i>!

<p style="padding-top:10px;">
    Deseamos que encuentres el sitio de ayuda y a la comunidad amigable.
</p>
<p>
    Te invitamos a participar mediante:
    <b>votar</b> posts que te gustan, hacer <b>preguntas</b>, escribir <b>comentarios</b> y <b>respuestas</b>, siguiendo posts,
    marcando contenido. Puedes mantenerte al día con el último contenido vía correo electrínocp (Usa la configuración de tu cuenta) o los RSS feeds.
</p>
<p>
    Juntos, compartiendo nuestro conocimiento, experiencias personales, trucos y tips podemos ser mas productivos.
</p>

